/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
#my-namespace h1 {
  background: mediumspringgreen;
}
/*
  
  .box {
	//use the namespace
	#ns > .square(10px);
	#ns .color(#ff00ff);
  }     
  Compiles to:
  
  .box {
	width: 10px;
	height: 10px;
	color: #ff00ff;
  }

  */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: 'Titillium Web', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Bangers', cursive;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.container {
  width: 880px;
  margin: auto;
}
header {
  width: 100%;
  display: flex;
}
@media (max-width: 769px) {
  header {
    flex-direction: column;
  }
}
@media (max-width: 400px) {
  header {
    margin-top: 30px;
  }
}
header nav {
  margin-top: 40px;
  width: 610px;
  justify-content: space-between;
  display: flex;
}
@media (max-width: 769px) {
  header nav {
    width: 100%;
    margin-top: 30px;
    justify-content: space-around;
  }
}
@media (max-width: 400px) {
  header nav {
    flex-direction: column;
    align-items: center;
  }
}
header nav a {
  text-decoration: none;
  color: #b0b0b0;
}
header nav a:hover {
  color: white;
  background: green;
}
header .logo {
  align-self: flex-end;
  margin: 28px 0 0 91px;
}
@media (max-width: 769px) {
  header .logo {
    order: -1;
    align-self: center;
    margin: 45px 0 0 0;
  }
}
.cta {
  display: flex;
  margin-top: 72px;
  justify-content: flex-end;
}
.cta .cta-text {
  font-size: 72px;
  text-align: center;
  letter-spacing: 5px;
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  margin: 0 82px 0 0;
}
.cta .cta-text button {
  border: 1px double black;
  font-size: 16px;
  background: white;
  width: 170px;
  height: 32px;
  margin-top: 10px;
  cursor: pointer;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.cta .cta-text button:hover {
  background: black;
  color: white;
}
.cta img {
  -webkit-box-shadow: 10px 10px 10px gray;
  -moz-box-shadow: 10px 10px 10px gray;
  box-shadow: 10px 10px 10px gray;
  -webkit-border-radius: 190px;
  -moz-border-radius: 190px;
  border-radius: 190px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-transform: rotate(330deg);
  -moz-transform: rotate(330deg);
  -ms-transform: rotate(330deg);
  -o-transform: rotate(330deg);
}
.main-content {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  margin: 75px 0 35px 0;
  padding: 35px 0;
  font-size: 16px;
  line-height: 18px;
}
.main-content .top-content {
  display: flex;
  justify-content: space-around;
}
.main-content .top-content .text-content {
  display: flex;
  flex-direction: column;
}
.main-content .top-content .text-content button {
  margin-top: 20px;
  align-self: center;
  width: 70px;
  height: 50px;
  background: yellowgreen;
}
.main-content .top-content .text-content button:hover {
  background: #5c7b1e;
  color: #c2e184;
}
.main-content .middle-img {
  display: block;
  margin: 30px auto;
}
.main-content .bottom-content {
  display: flex;
  justify-content: space-around;
}
.main-content .bottom-content p {
  padding-right: 20px;
}
.main-content .bottom-content .text-content {
  display: flex;
  flex-direction: column;
}
.main-content .bottom-content .text-content button {
  margin-top: 20px;
  align-self: center;
  width: 70px;
  height: 50;
  background: pink;
}
.main-content .bottom-content .text-content button:hover {
  background: #c00022;
  color: #ffffff;
}
.contact p {
  margin: 20px 0;
}
footer {
  text-align: center;
  margin: 40px 0 20px;
}
