:root {
  font-size: 62.5%;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
}
body {
  height: 100%;
  display: flex;
  align-items: center;
}
body .blocks {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
body .blocks .block {
  width: 10rem;
  height: 10rem;
  margin-bottom: 1rem;
}
body .blocks .block--red {
  background: red;
}
body .blocks .block--blue {
  background: blue;
}
body .blocks .block--green {
  background: green;
}
body .blocks .block--pink {
  background: pink;
}
body .blocks .block--gray {
  background: gray;
}
