@font-face {
    font-family: 'tt_masters';
    src: url('tt_masters_demo_black-webfont.woff2') format('woff2'),
         url('tt_masters_demo_black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}