@keyframes scale-up-center {
    0% {
      transform: scale(0.5);
    }
    100% {
      transform: scale(1);
    }
  }


  .scale-up-center {
	animation: scale-up-center 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}




// ==== Fade Out

@keyframes fade-out-bck {
    0% {
      transform: translateZ(0);
      opacity: 1;
    }
    100% {
      transform: translateZ(-80px);
      opacity: 0;
      visibility: hidden;
    }
  }


  .fade-out-bck {
	animation: fade-out-bck 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) .3s forwards;
}



@keyframes shake-top {
    0%,
    100% {
      transform: rotate(0deg);
      transform-origin: 50% 0;
    }
    10% {
      transform: rotate(2deg);
    }
    20%,
    40%,
    60% {
      transform: rotate(-4deg);
    }
    30%,
    50%,
    70% {
      transform: rotate(4deg);
    }
    80% {
      transform: rotate(-2deg);
    }
    90% {
      transform: rotate(2deg);
    }
  }

  
  .shake-top {
	animation: shake-top 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

  


@keyframes jello-horizontal {
    0% {
      transform: scale3d(1, 1, 1);
    }
    30% {
      transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      transform: scale3d(1, 1, 1);
    }
  }

  
  .jello-horizontal {
	animation: jello-horizontal 0.9s both;
}




@keyframes focus-in-expand {
    0% {
      letter-spacing: -0.5em;
      filter: blur(12px);
      opacity: 0;
    }
    100% {
      filter: blur(0px);
      opacity: 1;
    }
  }
  

  
  .focus-in-expand {
	animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


@keyframes vibrate-1 {
    0% {
      transform: translate(0);
    }
    20% {
      transform: translate(-2px, 2px);
    }
    40% {
      transform: translate(-2px, -2px);
    }
    60% {
      transform: translate(2px, 2px);
    }
    80% {
      transform: translate(2px, -2px);
    }
    100% {
      transform: translate(0);
    }
  }

  
  .vibrate-1 {
	animation: vibrate-1 0.3s linear 3 both;
}



@keyframes color-change-2x {
    0% {
      background: #19dcea;
    }
    100% {
      background: #b22cff;
    }
  }

  
  .color-change-2x {
	animation: color-change-2x 2s linear infinite alternate both;
}



@keyframes blink-1 {
    0%,
    50%,
    100% {
      opacity: 1;
    }
    25%,
    75% {
      opacity: 0;
    }
  }


  .blink-1 {
	animation: blink-1 0.6s both;
}