.header{
    background-color:@footer-bg;
}

.logoHeading{
    font-family: sans-serif;
}

.button1 {
    font-size: 20px;
}

.button2 {
    color:@eastern-blue;
}

.button3 {
    color:@eastern-blue;
}

.button4 {
    text-decoration: underline;
}

.image1 {
    border-radius:20px;
}

.image2 {
    width:80%;
}

.image3 {
    width:80%;
}