.footer {
  width: 100%;
  border-top: 2px dashed @silver;
  background: @sandy-beach;
  padding-bottom: 180px;

  @media @mobile {
    padding-bottom: 260px;
  }
  
  p {
    text-align: center;
    color: @font-color;
    font-size: 1.6rem;
    padding: 20px;
  }
}