.footer {
  width: 100%;
  border-top: 2px dashed @silver;
  background: @sandy-beach;
  
  p {
    text-align: center;
    color: @font-color;
    font-size: 1.6rem;
    padding: 20px;
  }

  .background-color{
    background-color: rgb(175, 247, 243);
    font-size: 1.8rem;
  }
}