* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html, body {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Indie Flower', cursive;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}

h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}

p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}

img {
  max-width: 100%;
  height: auto;
}

.hide-this {
  display: none;
}

.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;

  @media @mobile {
    width: 90%;
    margin: 0 5%;
  }
}

.cover {
  background-image: url(../img/fun-people.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70% 500px;
  margin: 0 auto;
  width: 100%;
  height: 760px;
  text-align: center;
  font-size: 8rem;
  color: black;
  padding-top: 20px;
  background-color: tan;
}

.animation{
  transform: translateX(10px) translateY(10px);
  box-shadow: -10px -10px @button-bg;
  transition: all 1s linear;
}

.context {
  display: none;
  border: 1px solid black;
  font-size: 10rem;
  justify-content: center;
  position: sticky;
}

.flex-context {
  display: flex;
}
