.home {

  .intro {
    padding: 90px 0 10px;
    border-bottom: 2px dashed @navigation-border;

    img {
      max-width: 100%;
      height: auto;
    }

    h2 {
      margin-top: 20px;
    }
  }

  .content-section {
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

   
    
    .text-content {
      width: 48%;
      padding-right: 1%;

      @media @mobile {
        width: 100%;
        padding: 0;
      }
    }

    .img-content {
      width: 48%;
      padding-left: 1%;

      @media @mobile {
        width: 100%;
        padding: 0;
      }

      img {
        border-radius: 10px;

        @media @mobile {
          width: 100%;
        }
      }
    }
  }

  .inverse-content {
    padding-bottom: 30px;
    border-bottom: 2px dashed @navigation-border;

    .text-content {
      padding-left: 1%;
      padding-right: 0;

      @media @mobile {
        order: 1;
      }
    }

    .img-content {
      padding-right: 1%;
      padding-left: 0;

      @media @mobile {
        order: 2;
      }
    }
  }

  .content-destination {
    width: 75%;
    margin: 0 auto 30px;

    @media @mobile {
      width: 100%;
    }

    img {
      border-radius: 10px;
    }
  }

  .content-pick {
    padding-top: 30px;
    border-top: 2px dashed @navigation-border;
    display: flex;
    justify-content: space-between;

    @media @mobile {
      flex-wrap: wrap;
    }

    .destination {
      width: 30%;
      margin-bottom: 30px;

      @media @mobile {
        width: 80%;
        margin: 0 auto 30px;
      }
      
      .btn {
        .button-creator(200px, 45px, @button-bg, @white, 1.8rem);     
      }
    }
  }
}// home

// CUSTOM CSS

.themeSwitcherButton {
  padding:8px;
  position:fixed;
  top:108px;
  left:12px;
  z-index:2;
  border:none;
  border-radius:6px;
  cursor:pointer;
}

.darkThemeButton {
  background-color:@darkThemeBG;
  color:@white;
}

.displayNone {
  display:none;
}

.darkThemeBody {
  background-color:@darkThemeBG;
}

.darkThemeh2 {
  color:@white;
}

.darkThemeh4 {
  color:@white;
}

.darkThemep {
  color:@white;
}

.home .content-pick .destination .darkThemePackage {
  background-color:@darkThemeBG;
  color:@white;
}

.home .content-pick .destination .darkThemePackage:hover {
  background-color:@darkThemeNavBG;
}

.normalThemeKey {
  position:fixed;
  top:156px;
  left:12px;
  color:@white;
  font-size:1.3rem;
}

.darkThemeKey {
  position:fixed;
  top:156px;
  left:12px;
  font-size:1.3rem;
}

.scrollButton {
  padding:8px;
  position:fixed;
  bottom:24px;
  right:24px;
  text-align:center;
  width:96px;
  height:36px;
}

.scrollButton a {
  display:block;
  height:36px;
  text-align:center;
  text-decoration:none;
  color:black;
  font-weight:bold;
}

#increaseSize {
  position:fixed;
  top:180px;
  left:12px;
  font-size:1.1rem;
}

#decreaseSize {
  position:fixed;
  top:204px;
  left:12px;
  font-size:1.1rem;
}

.blur > *:not(.modal) {
  filter:blur(3px);
}

.modal {
  width:480px;
  height:auto;
  position:fixed;
  top:108px;
  left:calc((100% - 480px) / 2);
  background-color:@eastern-blue;
  border-radius:15px;
  padding:108px;
}

.modalText {
  text-align:center;
  font-size:1.5rem;
  width:100%;
}

.modalButton {
  width:216px;
  padding:8px;
  border-radius:8px;
  border:none;
  margin:24px calc((100% - 216px) / 2);
}