.home {

  .intro {
    padding: 90px 0 10px;
    border-bottom: 2px dashed @navigation-border;

    img {
      max-width: 100%;
      height: auto;
    }

    h2 {
      margin-top: 20px;
    }
  }
  .bounce-this {
    .bounce();
  }

  .grow{
    transform: scale(1.1);
    transition: all .2s ease-in-out;
  }

  .shrink{
    transform: scale(.8);
    transition: all .2s ease-in-out;
  }

  .border-color{
    border: 1px solid black;
  }
  .border-color2{
    border: 3px solid @eastern-blue;
  }
  .font-color{
    color: @eastern-blue;
  }


  .hide{
    display: none;
  }

  .content-section {
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

   
    
    .text-content {
      width: 48%;
      padding-right: 1%;

      @media @mobile {
        width: 100%;
        padding: 0;
      }
    }

    .img-content {
      width: 48%;
      padding-left: 1%;

      @media @mobile {
        width: 100%;
        padding: 0;
      }

      img {
        border-radius: 10px;

        @media @mobile {
          width: 100%;
        }
      }
    }
  }

  .inverse-content {
    padding-bottom: 30px;
    border-bottom: 2px dashed @navigation-border;

    .text-content {
      padding-left: 1%;
      padding-right: 0;

      @media @mobile {
        order: 1;
      }
    }

    .img-content {
      padding-right: 1%;
      padding-left: 0;

      @media @mobile {
        order: 2;
      }
    }
  }

  .content-destination {
    width: 75%;
    margin: 0 auto 30px;

    @media @mobile {
      width: 100%;
    }

    img {
      border-radius: 10px;
    }
  }

  .content-pick {
    padding-top: 30px;
    border-top: 2px dashed @navigation-border;
    display: flex;
    justify-content: space-between;

    @media @mobile {
      flex-wrap: wrap;
    }

    .destination {
      width: 30%;
      margin-bottom: 30px;

      @media @mobile {
        width: 80%;
        margin: 0 auto 30px;
      }
      
      .btn {
        .button-creator(200px, 45px, @button-bg, @white, 1.8rem);     
      }
    }
  }
  #popupForm {
    width:100%;
    height:100%;
    opacity:.95;
    top:0;
    left:0;
    display:none;
    position:fixed;
    background-color:#313131;
    overflow:auto
    }
    p#close {
    position:absolute;
    right: 5px;
    top:-5px;
    cursor:pointer;
    }
    div#popupSignUp {
    position:absolute;
    left:50%;
    top:17%;
    margin-left:-202px;
    font-family:'Raleway',sans-serif
    }
    form {
    max-width:300px;
    min-width:250px;
    padding:10px 50px;
    border:2px solid gray;
    border-radius:10px;
    font-family:raleway;
    background-color:#fff
    }
    p {
    margin-top:30px
    }
    h2 {
    background-color:#FEFFED;
    padding:20px 35px;
    margin:-10px -50px;
    text-align:center;
    border-radius:10px 10px 0 0
    }
    hr {
    margin:10px -50px;
    border:0;
    border-top:1px solid #ccc
    }
    input[type=text] {
    width:82%;
    padding:10px;
    margin-top:30px;
    border:1px solid #ccc;
    padding-left:40px;
    font-size:16px;
    font-family:raleway
    }
    #name {
    background-repeat:no-repeat;
    background-position:5px 7px
    }
    #email {
    background-repeat:no-repeat;
    background-position:5px 7px
    }
    textarea {
    background-repeat:no-repeat;
    background-position:5px 7px;
    width:82%;
    height:95px;
    padding:10px;
    resize:none;
    margin-top:30px;
    border:1px solid #ccc;
    padding-left:40px;
    font-size:16px;
    font-family:raleway;
    margin-bottom:30px
    }
    #submit {
    text-decoration:none;
    width:100%;
    text-align:center;
    display:block;
    background-color:#FFBC00;
    color:#fff;
    border:1px solid #FFCB00;
    padding:10px 0;
    font-size:20px;
    cursor:pointer;
    border-radius:5px
    }
    span {
    color:red;
    font-weight:700
    }
    button {
    width:10%;
    height:45px;
    border-radius:3px;
    background-color:#cd853f;
    color:#fff;
    font-family:'Raleway',sans-serif;
    font-size:18px;
    cursor:pointer
    }
}// home