// Variables and Mixins
@import 'variables.less';
@import 'mixins.less';

// Reset and Global Styles
@import 'reset.less';
@import 'global.less';

// Reusable components
@import 'navigation.less';
@import 'footer.less';

// Page Specific
@import 'home-page.less';

// html {
//     background-color: red;
// }

@keyframes flashing {
    from {
        background-color: yellow;
    }
    to {
        background-color: black;
    }
}

.blink {
    cursor: pointer;
    animation-name: flashing;
    animation-duration:  1s;
    animation-iteration-count: infinite;// timing-function delay infinite direction fill-mode;
}

