// Variables and Mixins
@import 'variables.less';
@import 'mixins.less';

// Reset and Global Styles
@import 'reset.less';
@import 'global.less';

// Reusable components
@import 'navigation.less';
@import 'footer.less';

// Page Specific
@import 'home-page.less';
.change {
    visibility: hidden;
  }
  .opacity {
      opacity: 0.5;
  }
#submits {
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    background-color: #17A2B8;
    color: #FFFFFF;
    font-size: 1.8rem;
}