#loading-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;

    * {
        font-family: @loading-font;
        color: @loading-font-color;
    }

    img {
        @media @mobile {
            max-width: 75%;
        }
    }

    .timer-display {
        display: flex;
        justify-content: center;

        * {
            width: 150px;
            height: auto;
            font-size: 10rem;
            text-align: center;
            margin: 20px 0;
        }
    }
}
