@mobile: ~"(max-width: 500px)";

// Fonts
@loading-font: "Orbitron";

// Font sizes
@loading-font-size-desktop: 10rem;
@loading-font-size-mobile: 3.25rem;

// Color assignments 
@font-color: @shark;
@button-bg: @eastern-blue;
@main-bg:  @white;
@loading-font-color: snow;
@overlay-color: #7F7F7F;
@navigation-border: @silver;
@footer-bg: @sandy-beach;

// Colors
@white: #FFFFFF;
@silver: #C0C0C0;
@shark: #212529;
@eastern-blue: #17A2B8;
@sandy-beach: #FFEBCD;