/*@yellow = 'yellow';*/

body {
  display: flex;
  width: 880px;
  /*justify-content: center;*/
}

.blocks {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
}

.block {
  width: 100px;
  height: 100px;
  margin: 10px;
}

.block--red {
  background-color: red;
}

.block--blue {
  background-color: blue;
}

.block--green {
  background-color: green;
}

.block--pink {
  background-color: pink;
}

.block--gray {
  background-color: gray;
}

/*.block--red {
  background-color:gray;
}*/

<<<<<<< HEAD
#clicked {
  background-color: yellow;
  /*order: -1; */
  

  margin-left: 100%;
}
#toRight {
  /*background-color: yellow;*/
  margin-left: 100%;
 }
=======
#toRight {
  /*background-color: yellow;*/
  margin-left: 50px;
}
>>>>>>> d9af9a356aea700c8bec4e8c8d51fb94e8647530
