html,
body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  background-image: url("../img/background.jpg");
  background-position: center;
  background-size: cover;
  font-family: Lato, sans-serif;
  font-weight: 300;
  position: relative;
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.progress {
  height: 100px;
  width: 100%;
  background-color: #232323;
}
.progress-bar {
  width: 0;
  height: 100%;
  background-color: #EA005E;
}

h1 {
  font-size: 72px;
  font-weight: 300;
  color: #4C4A48;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(255,255,255,0.3);
}

.container {
  max-width: 800px;
  padding-right: 15px;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.box {
  width: 80px;
  height: 80px;
  background-color: #EA005E;
  margin: 10px;
  border-radius: 30px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f7f7f7;
  font-size: 20px;
  font-weight: 300;
}

.box:nth-of-type(2n + 1){
  background-color: #4A5459;
}
.box:nth-of-type(5n) {
  background-color: rgb(241,196,15);
}

.box:nth-of-type(7n) {
  background-color: #00CC6A;
}

.box:nth-of-type(9n) {
  background-color: #6B69D6;
}

form {
  display: flex;
  margin-top: 35px;
  width: 100%;
}
form input {
  margin-right: 10px;
  flex-grow: 1;
  padding: 15px 30px;
  border-radius: 10px;
  border: 1px solid #cdcdcd;
  font-size: 20px;
  font-weight: 300;
}

form button {
  padding: 10px 30px;
  border-radius: 30px;
  border: 1px solid #ea005e;
  background-color: #EA005E;
  color: #f7f7f7;
  font-size: 20px;
  font-weight: 300;
  cursor: pointer;
  transition: all 0.2s linear;
}

form button:hover {
  background-color: rgba(255,255,255,0.7);
  color: #ea005e;
}

form button:focus {
  outline: none;
}

@keyframes spinning {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}